.abo-card {
  display: grid;
  grid-template-rows: 10px auto;
  grid-column: 2/-2;

  @media screen and (min-width: 769px) {
    grid-column: 2/6;
  }

  &_inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: var(--gutter-default);
    background-color: var(--color-brand-a10);
    border: 1px solid var(--color-brand);
    border-radius: 10px;

    & > div {
      // A nommer avec une classe & à compléter
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &_label {
    position: relative;
    z-index: 1;
    padding: var(--space-xs) calc(var(--space-xs) * 2);
    background-color: var(--color-brand);
    border-radius: 20px;
    color: #fff;
  }
}
